    
    <!-- Header -->
    <table>
        <tr>
            <td>
                <span style="font-weight: bold">Todays Date:</span>
            </td>
            <td>
                <span>@DateTime.Now.ToShortDateString()</span>
            </td>
            <td>
                <span style="font-weight: bold">Project:</span>
            </td>
            <td>
                <span>CRUD Operations</span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight: bold">Developer:</span>
            </td>
            <td>
                <span>Brad Plemons</span>
            </td>
            <td>
                <span style="font-weight: bold">Language:</span>
            </td>
            <td>
                <span>MVC4 C#</span>
            </td>
        </tr>
    </table>
