<div class="ui-collapsible">
    <div class="ui-collapsible-title">Page Links</div>
    <div class="ui-collapsible-content">
        <table>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>
                    @Html.ActionLink("Home", "Index")
                </td>
            </tr>
        </table>
    </div>
</div>
